.navbar {
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: black;
  color: white;
  font-family: 'Open Sans', sans-serif;    
  position: sticky;
  top: 0;
}

.navbar-logo {
  height: 50px;
  width: 100px;
  object-fit: cover;
}

.nav-link {
  color: white;
  text-decoration: none;

}

.navbar-links {
  font-family: 'Open Sans', sans-serif;   
  font-size: 13px; 

}

.navbar-links > span {
  margin-right: 10px;
}

.navbar-links > span:last-child { 
  margin-right: 20px;
}

.navbar-links > span:hover {
  border-bottom: 2px solid white;
}

.navbar-links > span:last-child:hover {
  border-bottom: 2px solid transparent;
}

.errors {
  margin-top: 20px;  
  font-family: 'Open Sans', sans-serif;   
  color: white;
  font-weight: 700;
}

.logout-button {
  font-size: 12px;
  width: 60px;
  height: 25px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
}

